aicrowd_api
coloredlogs
numpy
loguru
boto3
openunmix
musdb
SoundFile
scipy
norbert
asteroid>=0.5.0
torch

librosa
torchlibrosa==0.0.7
matplotlib
setuptools
setuptools-scm
tensorboardX
torchvision
pillow
julius
diffq

demucs
soundfile
typing
pynvml
GitPython
